---
import DefaultLayout from "../layouts/DefaultLayout.astro"
import Welcome from "../components/Welcome.astro"
import Card from "../components/Card.astro"
import WpCard from "../components/WpCard.astro"
import { getPosts, getPageUrl } from "../lib"

const posts = await getPosts()
---

<DefaultLayout header="Welcome to the Gerlach Pool League!" title="Gerlach Pool League Standings Caclulator">
  <section class="container flex">
    <a href={getPageUrl('standings')} class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Standings
    </a>
    <a href={getPageUrl('card')} class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 ml-4 rounded">
      Add Cards
    </a>
  </section>
  <section>
    {posts?.length ? posts.map((post) => post.type === 'post' ? <WpCard post={post} /> : <Card post={post} />) : <Welcome />}
  </section>
</DefaultLayout>