---
import DefaultLayout from "../layouts/DefaultLayout.astro"
import Welcome from "../components/Welcome.astro"
// import Login from "../components/vue/Login.vue"
---

<DefaultLayout header="Sign In to the Gerlach Pool League!" title="Login">
  <section class="container flex">
    <Welcome />
  </section>
</DefaultLayout>