---
import BaseLayout from './BaseLayout.astro'

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout showBack={true} title={title}>
  <main>
    <slot />
  </main>
</BaseLayout>

<style>
  main {
    margin-top: 45px;
  }

  @media (min-width: 575px) {

    main {
      margin-top: unset;
    }
  }
</style>